# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# JavaScript/TypeScript files
[*.{js,jsx,ts,tsx,mjs,mts}]
indent_size = 2

# CSS/SCSS files
[*.{css,scss,sass}]
indent_size = 2

# HTML files
[*.{html,htm}]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Docker files
[{Dockerfile,*.dockerfile}]
indent_size = 2 