# Description: Example of .env file
# Usage: Copy this file to .env and change the values
#        according to your needs
#        Do not commit .env file to git
#        Do not change .env.example file

# langflow_database_url=postgresql://postgres:postgres@localhost:5432/langflow
langflow_database_url=sqlite:///./langflow.db