version: '3'

services:
  backend:
    build:
      context: ./
      dockerfile: ./dev.Dockerfile
    ports:
      - "7860:7860"
    volumes:
      - ./:/app
    command: bash -c "uvicorn langflow.main:app --host 0.0.0.0 --port 7860 --reload"

  frontend:
    build:
      context: ./src/frontend
      dockerfile: ./dev.Dockerfile
      args:
        - BACKEND_URL=http://backend:7860
    environment:
      - VITE_PROXY_TARGET=http://backend:7860
    ports:
      - "3000:3000"
    volumes:
     - ./src/frontend/public:/home/node/app/public
     - ./src/frontend/src:/home/node/app/src
     - ./src/frontend/package.json:/home/node/app/package.json
    restart: on-failure