astrapy
toml
uuid6
deprecation
docling==2.77.0
docling-core==2.70.2
transformers
regex
safetensors>=0.4.3
filetype
docling-ibm-models
docling-parse
pypdfium2
pylatexenc
marko
openpyxl
python-pptx
pluggy
rtree
