@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Confirm that all colors here are found in tailwind config */

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --background: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --muted: 240 5% 96%; /* hsl(240, 5%, 96%) */
    --muted-foreground: 240 4% 46%; /* hsl(240, 4%, 46%) */
    --card: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --card-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --popover: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --popover-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --border: 240 6% 90%; /* hsl(240, 6%, 90%) */
    --input: 240 6% 90%; /* hsl(240, 6%, 90%) */
    --primary-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --primary: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --secondary: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --secondary-foreground: 240 4% 16%; /* hsl(240, 4%, 16%) */
    --accent: 240 5% 96%; /* hsl(240, 5%, 96%) */
    --accent-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --destructive: 0 72% 51%; /* hsl(0, 72%, 51%) */
    --destructive-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --ring: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --primary-hover: 240 4% 16%; /* hsl(240, 4%, 16%) */
    --secondary-hover: 240 6% 90%; /* hsl(240, 6%, 90%) */
    --placeholder-foreground: 240 5% 65%; /* hsl(240, 5%, 65%) */
    --canvas: 240 5% 96%; /* hsl(240, 5%, 96%) */
    --canvas-dot: 240 5% 65%; /* hsl(240, 5%, 65%) */
    --accent-emerald: 149 80% 90%; /* hsl(149, 80%, 90%) */
    --accent-emerald-foreground: 161 41% 30%; /* hsl(161, 41%, 30%) */
    --accent-emerald-hover: 152.4 76% 80.4%; /* hsl(152.4, 76%, 80.4%) */
    --accent-indigo: 226 100% 94%; /* hsl(226, 100%, 94%) */
    --accent-indigo-foreground: 243 75% 59%; /* hsl(243, 75%, 59%) */
    --accent-pink: 326 78% 95%; /* hsl(326, 78%, 95%) */
    --accent-pink-foreground: 333 71% 51%; /* hsl(333, 71%, 51%) */
    --tooltip: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --tooltip-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --node-selected: 243 75% 59%;
    --round-btn-shadow: #00000063;
    --ice: #31a3cc;
    --selected: #2196f3;

    --error-background: #fef2f2;
    --error-foreground: #991b1b;
    --error: #991b1b;

    --success-background: #f0fdf4;
    --success-foreground: #14532d;

    --info-background: #f0f4fd;
    --info-foreground: #141653;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;
    --low-indigo: #e0e7ff;

    --beta-background: rgb(219 234 254);
    --beta-foreground: rgb(37 99 235);
    --beta-foreground-soft: rgb(37 99 235 / 80%);

    --chat-bot-icon: #afe6ef;
    --chat-user-icon: #aface9;

    --component-icon: #d8598a;
    --flow-icon: #2f67d0;
    --hover: #f2f4f5;
    --disabled-run: #6366f1;

    --filter-foreground: #4f46e5;
    --filter-background: #eef2ff;
    /* Colors that are shared in dark and light mode */
    --blur-shared: #151923de;
    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --chat-trigger-disabled: #b4c3da;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --chat-send: #000000;
    --status-green: #4ade80;
    --status-blue: #2563eb;
    --status-gray: #6b7280;
    --connection: #555;

    --note-amber: 48 96.6% 76.7%; /* hsl(48, 96.6%, 76.7%) */
    --note-neutral: 240 5.9% 90%; /* hsl(240, 5.9%, 90%) */
    --note-rose: 352.7 96.1% 90%; /* hsl(352.7, 96.1%, 90%) */
    --note-blue: 213.3 96.9% 87.3%; /* hsl(213.3, 96.9%, 87.3%) */
    --note-lime: 80.9 88.5% 79.6%; /* hsl(80.9, 88.5%, 79.6%) */

    --error-red: 0, 86%, 97%; /*hsla(0, 86%, 97%)*/
    --error-red-border: 0, 96%, 89%; /*hsla(0,96%,89%)*/

    --code-background: var(--canvas);
    --placeholder: 240 5% 64.9%;
    --hard-zinc: 240 5.2% 33.9%;
    --smooth-red: 0 93.3% 94.1%;
    --radius: 0.5rem;

    --accent-pink: 327.3 73.3% 97.1%;
    --accent-pink-foreground: 333.3 71.4% 50.6%;

    --accent-yellow: 40.6 96.1% 40.4%;
    --accent-yellow-foreground: 54.9 96.7% 88%;

    --accent-blue: 221.2 83.2% 53.3%;
    --accent-blue-foreground: 214.3 94.6% 92.7%;

    --accent-gray: 215 13.8% 34.1%;
    --accent-gray-foreground: 220 14.3% 95.9%;

    --accent-lime: 84.8 85.2% 34.5%;
    --accent-lime-foreground: 79.6 89.1% 89.2%;

    --accent-red: 0 72.2% 50.6%;
    --accent-red-foreground: 0 93.3% 94.1%;

    --accent-violet: 262.1 83.3% 57.8%;
    --accent-violet-foreground: 251.4 91.3% 95.5%;

    --accent-emerald: 161.4 93.5% 30.4%;
    --accent-emerald-foreground: 149.3 80.4% 90%;

    --accent-fuchsia: 293.4 69.5% 48.8%;
    --accent-fuchsia-foreground: 287 100% 95.5%;

    --accent-purple: 271.5 81.3% 55.9%;
    --accent-purple-foreground: 268.7 100% 95.5%;

    --accent-cyan: 191.6 91.4% 36.5%;
    --accent-cyan-foreground: 185.1 95.9% 90.4%;

    --accent-indigo: 243.4 75.4% 58.6%;
    --accent-indigo-foreground: 226.5 100% 93.9%;

    --node-ring: 240 6% 90%;
  }

  .dark {
    --foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --background: 240 6% 10%; /* hsl(240, 6%, 10%) */
    --muted: 240 4% 16%; /* hsl(240, 4%, 16%) */
    --muted-foreground: 240 5% 65%; /* hsl(240, 5%, 65%) */
    --card: 240 6% 10%; /* hsl(240, 6%, 10%) */
    --card-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --popover: 240 6% 10%; /* hsl(240, 6%, 10%) */
    --popover-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --border: 240 5% 26%; /* hsl(240, 5%, 26%) */
    --input: 240 5% 34%; /* hsl(240, 5%, 34%) */
    --primary-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --primary: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --secondary: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --secondary-foreground: 240 6% 90%; /* hsl(240, 6%, 90%) */
    --accent: 240 4% 16%; /* hsl(240, 4%, 16%) */
    --accent-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --destructive: 0 84% 60%; /* hsl(0, 84%, 60%) */
    --destructive-foreground: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --ring: 0 0% 100%; /* hsl(0, 0%, 100%) */
    --primary-hover: 240 6% 90%; /* hsl(240, 6%, 90%) */
    --secondary-hover: 240 4% 16%; /* hsl(240, 4%, 16%) */
    --placeholder-foreground: 240 4% 46%; /* hsl(240, 4%, 46%) */
    --canvas: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --canvas-dot: 240 5% 34%; /* hsl(240, 5%, 34%) */
    --accent-emerald: 164 86% 16%; /* hsl(164, 86%, 16%) */
    --accent-emerald-foreground: 158 64% 52%; /* hsl(158, 64%, 52%) */
    --accent-emerald-hover: 163.1 88.1% 19.8%; /* hsl(163.1, 88.1%, 19.8%) */
    --accent-indigo: 242 25% 34%; /* hsl(242, 25%, 34%) */
    --accent-indigo-foreground: 234 89% 74%; /* hsl(234, 89%, 74%) */
    --accent-pink: 336 69% 30%; /* hsl(336, 69%, 30%) */
    --accent-pink-foreground: 329 86% 70%; /* hsl(329, 86%, 70%) */
    --tooltip: 0 0% 100%; /* hsl(0, 0%, 100%) */

    --tooltip-foreground: 0 0% 0%; /* hsl(0, 0%, 0%) */
    --error-red: 0, 75%, 15%; /*hsla(0, 75%, 15%)*/
    --error-red-border: 0, 70%, 35%; /*hsla(0,70%,35%)*/

    --note-amber: 45.9 96.7% 64.5%; /* hsl(45.9, 96.7%, 64.5%) */
    --note-neutral: 240 4.9% 83.9%; /* hsl(240, 4.9%, 83.9%) */
    --note-rose: 352.6 95.7% 81.8%; /* hsl(352.6, 95.7%, 81.8%) */
    --note-blue: 211.7 96.4% 78.4%; /* hsl(211.7, 96.4%, 78.4%) */
    --note-lime: 82 84.5% 67.1%; /* hsl(82, 84.5%, 67.1%) */

    --node-selected: 234 89% 74%;

    --ice: #60a5fa;
    --hover: #1a202e;
    --disabled-run: #6366f1;
    --selected: #0369a1;

    --filter-foreground: #eef2ff;
    --filter-background: #4e46e599;

    --round-btn-shadow: #00000063;

    --success-background: #022c22;
    --success-foreground: #ecfdf5;

    --error-foreground: #fef2f2;
    --error-background: #450a0a;
    --error: #991b1b;

    --info-foreground: #eff6ff;
    --info-background: #172554;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;
    --low-indigo: #e0e7ff;

    --component-icon: #c35f85;
    --flow-icon: #2467e4;

    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --chat-trigger-disabled: #2d3b54;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --chat-send: #ffffff;
    --status-green: #4ade80;
    --status-blue: #2563eb;
    --connection: #6d6c6c;
    --code-background: var(--background);

    --beta-background: rgb(37 99 235);
    --beta-foreground: rgb(219 234 254);
    --beta-foreground-soft: rgb(219 234 254);

    --chat-bot-icon: #235d70;
    --chat-user-icon: #4f3d6e;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --placeholder: 240 5% 64.9%;
    --hard-zinc: 240 5.2% 33.9%;
    --smooth-red: 0 93.3% 94.1%;

    --accent-pink: 327.4 87.1% 81.8%;
    --accent-pink-foreground: 333.3 71.4% 50.6%;

    --accent-yellow: 50.4 97.8% 63.5%;
    --accent-yellow-foreground: 40.6 96.1% 40.4%;

    --accent-blue: 211.7 96.4% 78.4%;
    --accent-blue-foreground: 221.2 83.2% 53.3%;

    --accent-gray: 216 12.2% 83.9%;
    --accent-gray-foreground: 215 13.8% 34.1%;

    --accent-lime: 82 84.5% 67.1%;
    --accent-lime-foreground: 84.8 85.2% 34.5%;

    --accent-red: 0 93.5% 81.8%;
    --accent-red-foreground: 0 72.2% 50.6%;

    --accent-violet: 252.5 94.7% 85.1%;
    --accent-violet-foreground: 262.1 83.3% 57.8%;

    --accent-emerald: 156.2 71.6% 66.9%;
    --accent-emerald-foreground: 161.4 93.5% 30.4%;

    --accent-fuchsia: 291.1 93.1% 82.9%;
    --accent-fuchsia-foreground: 293.4 69.5% 48.8%;

    --accent-purple: 269.2 97.4% 85.1%;
    --accent-purple-foreground: 293.4 69.5% 48.8%;

    --accent-cyan: 187 92.4% 69%;
    --accent-cyan-foreground: 191.6 91.4% 36.5%;

    --accent-indigo: 229.7 93.5% 81.8%;
    --accent-indigo-foreground: 243.4 75.4% 58.6%;
    --node-ring: 240 6% 90%;

  }
}
