@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Confirm that all colors here are found in tailwind config */

@layer base {

  :root {
    /* Zinc Theme Values from shadcn */
    --background: 0 0% 100%; /* hsl(0 0% 100%) */
    --foreground: 240 10% 3.9%; /* hsl(240 10% 3.9%) */
    --card: 0 0% 100%; /* hsl(0 0% 100%) */
    --card-foreground: 240 10% 3.9%; /* hsl(240 10% 3.9%) */
    --popover: 0 0% 100%; /* hsl(0 0% 100%) */
    --popover-foreground: 240 10% 3.9%; /* hsl(240 10% 3.9%) */
    --primary: 240 5.9% 10%; /* hsl(240 5.9% 10%) */
    --primary-foreground: 0 0% 98%; /* hsl(0 0% 98%) */
    --secondary: 240 4.8% 95.9%; /* hsl(240 4.8% 95.9%) */
    --secondary-foreground: 240 5.9% 10%; /* hsl(240 5.9% 10%) */
    --muted: 240 4.8% 95.9%; /* hsl(240 4.8% 95.9%) */
    --muted-foreground: 240 3.8% 46.1%; /* hsl(240 3.8% 46.1%) */
    --accent: 240 4.8% 95.9%; /* hsl(240 4.8% 95.9%) */
    --accent-foreground: 240 5.9% 10%; /* hsl(240 5.9% 10%) */
    --destructive: 0 84.2% 60.2%; /* hsl(0 84.2% 60.2%) */
    --destructive-foreground: 0 0% 98%; /* hsl(0 0% 98%) */
    --border: 240 5.9% 90%; /* hsl(240 5.9% 90%) */
    --input: 240 5.9% 90%; /* hsl(240 5.9% 90%) */
    --ring: 240 5.9% 10%; /* hsl(240 5.9% 10%) */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /* hsl(12 76% 61%) */
    --chart-2: 173 58% 39%; /* hsl(173 58% 39%) */
    --chart-3: 197 37% 24%; /* hsl(197 37% 24%) */
    --chart-4: 43 74% 66%; /* hsl(43 74% 66%) */
    --chart-5: 27 87% 67%; /* hsl(27 87% 67%) */

    --node-selected: 243 75% 59%;
    --round-btn-shadow: #00000063;
    --ice: #31a3cc;
    --selected: #2196f3;

    --error-background: #fef2f2;
    --error-foreground: #991b1b;
    --error: #991b1b;

    --success-background: #f0fdf4;
    --success-foreground: #14532d;

    --info-background: #f0f4fd;
    --info-foreground: #141653;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;
    --low-indigo: #e0e7ff;

    --beta-background: rgb(219 234 254);
    --beta-foreground: rgb(37 99 235);
    --beta-foreground-soft: rgb(37 99 235 / 80%);

    --chat-bot-icon: #afe6ef;
    --chat-user-icon: #aface9;

    --component-icon: #d8598a;
    --flow-icon: #2f67d0;
    --hover: #f2f4f5;
    --disabled-run: #6366f1;

    --filter-foreground: #4f46e5;
    --filter-background: #eef2ff;
    /* Colors that are shared in dark and light mode */
    --blur-shared: #151923de;
    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --chat-trigger-disabled: #b4c3da;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --chat-send: #059669;
    --status-green: #4ade80;
    --status-blue: #2563eb;
    --status-gray: #6b7280;
    --connection: #555;
    --note-default: #f1f5f9;
    --note-indigo: #e0e7ff;
    --note-emerald: #d1fae5;
    --note-amber: #fef3c7;
    --note-red: #fee2e2;

    --note-default-opacity: #f1f5f980;
    --note-indigo-opacity: #312e8180;
    --note-emerald-opacity: #064e3b80;
    --note-amber-opacity: #78350f80;
    --note-red-opacity: #7f1d1d80;

    --emerald-success: 160.1 84.1% 39.4%;
    --emerald-icon: 161.4 93.5% 30.4%;
    --emaral-smooth: 149.3 80.4% 90%;
    --emeral-hard: 162.9 93.5% 24.3%;
    --smooth-zinc: 240 5% 64.9%;
    --hard-zinc: 240 5.2% 33.9%;
    --smooth-red: 0 93.3% 94.1%;

  }

  .dark {
    /* Zinc Theme Values from shadcn */
    --background: 240 10% 3.9%; /* hsl(240, 10%, 3.9%) */
    --foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --card: 240 10% 3.9%; /* hsl(240, 10%, 3.9%) */
    --card-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --popover: 240 10% 3.9%; /* hsl(240, 10%, 3.9%) */
    --popover-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --primary: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --primary-foreground: 240 5.9% 10%; /* hsl(240, 5.9%, 10%) */
    --secondary: 240 3.7% 15.9%; /* hsl(240, 3.7%, 15.9%) */
    --secondary-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --muted: 240 3.7% 15.9%; /* hsl(240, 3.7%, 15.9%) */
    --muted-foreground: 240 5% 64.9%; /* hsl(240, 5%, 64.9%) */
    --accent: 240 3.7% 15.9%; /* hsl(240, 3.7%, 15.9%) */
    --accent-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --destructive: 0 62.8% 30.6%; /* hsl(0, 62.8%, 30.6%) */
    --destructive-foreground: 0 0% 98%; /* hsl(0, 0%, 98%) */
    --border: 240 3.7% 15.9%; /* hsl(240, 3.7%, 15.9%) */
    --input: 240 3.7% 15.9%; /* hsl(240, 3.7%, 15.9%) */
    --ring: 240 4.9% 83.9%; /* hsl(240, 4.9%, 83.9%) */
    --chart-1: 220 70% 50%; /* hsl(220, 70%, 50%) */
    --chart-2: 160 60% 45%; /* hsl(160, 60%, 45%) */
    --chart-3: 30 80% 55%; /* hsl(30, 80%, 55%) */
    --chart-4: 280 65% 60%; /* hsl(280, 65%, 60%) */
    --chart-5: 340 75% 55%; /* hsl(340, 75%, 55%) */

    --note-default: #0f172a;
    --note-indigo: #312e81;
    --note-emerald: #064e3b;
    --note-amber: #78350f;
    --note-red: #7f1d1d;
    --note-placeholder: 216 12% 84%; /* hsl(216 12% 84%) */

    --note-default-opacity: #0f172a80;
    --note-indigo-opacity: #312e8180;
    --note-emerald-opacity: #064e3b80;
    --note-amber-opacity: #78350f80;
    --note-red-opacity: #7f1d1d80;

    --node-selected: 234 89% 74%;

    --ice: #60a5fa;
    --hover: #1a202e;
    --disabled-run: #6366f1;
    --selected: #0369a1;

    --filter-foreground: #eef2ff;
    --filter-background: #4e46e599;

    --round-btn-shadow: #00000063;

    --success-background: #022c22;
    --success-foreground: #ecfdf5;

    --error-foreground: #fef2f2;
    --error-background: #450a0a;
    --error: #991b1b;

    --info-foreground: #eff6ff;
    --info-background: #172554;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;
    --low-indigo: #e0e7ff;

    --component-icon: #c35f85;
    --flow-icon: #2467e4;

    /* Colors that are shared in dark and light mode */
    --blur-shared: #151923d2;
    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --chat-trigger-disabled: #2d3b54;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --chat-send: #059669;
    --status-green: #4ade80;
    --status-blue: #2563eb;
    --connection: #6d6c6c;

    --beta-background: rgb(37 99 235);
    --beta-foreground: rgb(219 234 254);
    --beta-foreground-soft: rgb(219 234 254);

    --chat-bot-icon: #235d70;
    --chat-user-icon: #4f3d6e;

    --emerald-success: 160.1 84.1% 39.4%;
    --emerald-icon: 161.4 93.5% 30.4%;
    --emaral-smooth: 149.3 80.4% 90%;
    --emeral-hard: 162.9 93.5% 24.3%;
    --smooth-zinc: 240 5% 64.9%;
    --hard-zinc: 240 5.2% 33.9%
    --smooth-red: 0 93.3% 94.1%

  }
}
