@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO: Confirm that all colors here are found in tailwind config */

@layer base {

:root {
  --background: 0 0% 100%; /* hsl(0 0% 100%) */
  --foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --muted: 210 40% 98%; /* hsl(210 40% 98%) */
  --muted-foreground: 215.4 16.3% 46.9%; /* hsl(215 16% 46%) */
  --popover: 0 0% 100%; /* hsl(0 0% 100%) */
  --popover-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --card: 0 0% 100%; /* hsl(0 0% 100%) */
  --card-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --border: 214.3 21.8% 91.4%; /* hsl(214 32% 91%) */
  --input: 214.3 21.8% 91.4%; /* hsl(214 32% 91%) */
  --primary: 222.2 27% 11.2%; /* hsl(222 27% 18%) */
  --primary-foreground: 210 40% 98%; /* hsl(210 40% 98%) */
  --secondary: 210 40% 96.1%; /* hsl(210 40% 96%) */
  --secondary-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --accent: 210 30% 96.1%; /* hsl(210 30% 96%) */
  --accent-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --destructive: 0 100% 50%; /* hsl(0 100% 50%) */
  --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */
  --radius: 0.5rem;
  --ring: 215 20.2% 65.1%; /* hsl(215 20% 65%) */

  --round-btn-shadow: #00000063;

  --error-background: #fef2f2;
  --error-foreground: #991b1b;

  --success-background: #f0fdf4;
  --success-foreground: #14532d;

  --info-background: #f0f4fd;
  --info-foreground: #141653;

  --high-indigo: #4338ca;
  --medium-indigo: #6366f1;

  /* Colors that are shared in dark and light mode */
  --blur-shared: #151923de;
  --build-trigger: 	#dc735b;
  --chat-trigger: #5c8be1;
  --status-red: #ef4444;
  --status-yellow: #eab308;
  --status-green: #4ade80;
  --status-blue:#2563eb;
}

.dark {
  --background: 224 35% 7.5%; /* hsl(224 40% 10%) */
  --foreground: 213 31% 85%; /* hsl(213 31% 91%) */

  --muted: 223 27% 11%; /* hsl(223 27% 11%) */
  --muted-foreground: 215.4 16.3% 56.9%; /* hsl(215 16% 56%) */

  --popover: 224 71% 4%; /* hsl(224 71% 4%) */
  --popover-foreground: 215 20.2% 65.1%; /* hsl(215 20% 65%) */

  --card: 224 25% 15.5%; /* hsl(224 71% 4%) */
  --card-foreground: 213 31% 80%; /* hsl(213 31% 91%) */

  --border: 216 24% 17%; /* hsl(216 34% 17%) */
  --input: 216 24% 17%; /* hsl(216 34% 17%) */

  --primary: 210 20% 80%; /* hsl(210 40% 98%) */
  --primary-foreground: 222.2 27.4% 1.2%; /* hsl(222 47% 1%) */

  --secondary: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --secondary-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

  --accent: 216 24% 17%; /* hsl(216 34% 17%) */
  --accent-foreground: 210 30% 98%; /* hsl(210 40% 98%) */

  --destructive: 0 63% 31%; /* hsl(0 63% 31%) */
  --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

  --ring: 216 24% 30%; /* hsl(216 24% 30%) */

  --radius: 0.5rem;

  --round-btn-shadow: #00000063;
  
  --success-background: #022c22;
  --success-foreground: #ecfdf5;

  --error-foreground: #fef2f2;
  --error-background: #450a0a;

  --info-foreground: #eff6ff;
  --info-background: #172554;


  --high-indigo: #4338ca;
  --medium-indigo: #6366f1;

  /* Colors that are shared in dark and light mode */
  --blur-shared: #151923d2;
  --build-trigger: 	#dc735b;
  --chat-trigger: #5c8be1;
  --status-red: #ef4444;
  --status-yellow: #eab308;
  --status-green: #4ade80;
  --status-blue: #2563eb;
}}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* The style below sets the cursor property of the element with the class .react-flow__pane to the default cursor.
The cursor: default; property value restores the browser's default cursor style for the targeted element. By applying this style, the element will no longer have a custom cursor appearance such as "grab" or any other custom cursor defined elsewhere in the application. Instead, it will revert to the default cursor style determined by the browser, typically an arrow-shaped cursor. */
.react-flow__pane {
  cursor: default;
}


@layer components {
  .round-buttons-position {
    @apply fixed right-4
  }
  .side-bar-arrangement {
    @apply flex h-full w-52 flex-col overflow-hidden border-r scrollbar-hide
  }
  .side-bar-search-div-placement {
    @apply relative mx-auto mb-2 mt-2 flex items-center
  }
  .side-bar-components-icon {
    @apply h-6 w-4 text-ring
  }
  .side-bar-components-text {
    @apply w-full truncate pr-1 text-xs text-foreground
  }
  .side-bar-components-div-form {
    @apply flex w-full items-center justify-between rounded-md rounded-l-none border border-l-0 border-dashed border-ring  bg-white px-3 py-1 text-sm
  }
  .side-bar-components-border {
    @apply cursor-grab rounded-l-md border-l-8
  }
  .side-bar-components-gap {
    @apply flex flex-col gap-2 p-2
  }
  .side-bar-components-div-arrangement {
    @apply w-full overflow-auto scrollbar-hide
  }
  .search-icon {
    @apply absolute inset-y-0 right-0 flex items-center py-1.5 pr-3
  }
  .extra-side-bar-save-disable {
    @apply text-muted-foreground
  }
  .side-bar-button-size {
    @apply h-5 w-5
  }
  .side-bar-buttons-arrangement {
    @apply mb-2 mt-2 flex w-full items-center justify-between gap-2 px-2
  }
  .extra-side-bar-buttons {
    @apply relative inline-flex w-full items-center justify-center rounded-md bg-background   px-2 py-2 text-foreground shadow-sm ring-1 ring-inset ring-input transition-all duration-500 ease-in-out
  }
  .extra-side-bar-buttons:hover {
    @apply hover:bg-muted
  }
  .button-div-style {
    @apply gap-2 flex
  }
  .input-primary:focus{
    @apply focus:placeholder-transparent focus:ring-ring focus:border-ring
  }
  .input-primary {
    @apply bg-background block border-ring form-input px-3 placeholder:text-muted-foreground rounded-md shadow-sm sm:text-sm truncate w-full;
  }
  .input-edit-node{
    @apply input-primary placeholder:text-center pt-0.5 pb-0.5 text-center
  }
  .input-search{
    @apply input-primary pr-7 mx-2
  }
  .input-disable{
    @apply bg-input
  }
  .input-dialog{
    @apply text-ring cursor-pointer bg-transparent
  }
  .round-button-form {
    @apply flex h-12 w-12 cursor-pointer justify-center rounded-full bg-border px-3 py-1 shadow-md
  }
  .round-button-div {
    @apply flex items-center gap-3
  }
  .build-trigger-loading-icon {
    @apply stroke-build-trigger
  }
  .build-trigger-icon {
    @apply w-6 fill-build-trigger stroke-1 stroke-build-trigger
  }
  .message-button-position {
    @apply absolute bottom-4 right-3
  }
  .message-button-icon {
    @apply w-6 fill-chat-trigger stroke-chat-trigger stroke-1
  }
  .components-disclosure-arrangement {
    @apply -mt-px flex w-full select-none items-center justify-between border-y border-y-input bg-muted px-3 py-2
  }
  .text-color {
    @apply text-primary
  }
  .components-disclosure-title {
    @apply flex items-center text-sm text-color
  }
  .components-disclosure-div {
    @apply flex gap-2
  }
  .flow-page-positioning {
    @apply h-full w-full overflow-hidden
  }
  .logspace-page-icon {
    @apply absolute bottom-2 left-7 flex h-6 cursor-pointer flex-col items-center justify-start overflow-hidden rounded-lg bg-foreground px-2 text-center font-sans text-xs tracking-wide text-secondary transition-all duration-500 ease-in-out
  }

  .logspace-page-icon:hover {
    @apply hover:h-12
  }

  .logspace-icon-text {
    @apply mt-1
  }

  .flex-max-width {
    @apply flex w-full
  }

  .main-page-panel {
    @apply flex-max-width h-full flex-col overflow-auto bg-muted px-16
  }

  .main-page-nav-arrangement {
    @apply flex-max-width justify-between px-6 py-12 pb-2
  }

  .main-page-nav-title {
    @apply flex items-center justify-center gap-2 text-2xl font-semibold
  }

  .main-page-nav-button {
    @apply mr-2 w-4
  }

  .main-page-description-text {
    @apply flex w-[60%] px-6 pb-14 text-muted-foreground
  }

  .main-page-flows-display {
    @apply grid w-full gap-4 p-4 md:grid-cols-2 lg:grid-cols-4
  }

  .community-page-arrangement {
    @apply flex-max-width h-full flex-col overflow-auto bg-muted px-16
  }

  .community-page-nav-arrangement {
    @apply flex-max-width justify-between px-6 py-12 pb-2
  }

  .community-page-nav-title {
    @apply flex items-center justify-center gap-2 text-2xl font-semibold
  }

  .community-page-nav-button {
    @apply flex gap-2
  }

  .community-page-description-text {
    @apply flex w-[70%] px-6 pb-8 text-muted-foreground 
  }

  .community-pages-flows-panel {
    @apply grid w-full gap-4 p-4 md:grid-cols-2 lg:grid-cols-4
  }
}