@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* hsl(0 0% 100%) */
    --foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */

    --muted: 210 40% 96.1%; /* hsl(210 40% 96%) */
    --muted-foreground: 215.4 16.3% 46.9%; /* hsl(215 16% 46%) */

    --popover: 0 0% 100%; /* hsl(0 0% 100%) */
    --popover-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */

    --card: 0 0% 100%; /* hsl(0 0% 100%) */
    --card-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */

    --border: 214.3 31.8% 91.4%; /* hsl(214 32% 91%) */
    --input: 214.3 31.8% 91.4%; /* hsl(214 32% 91%) */

    --primary: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
    --primary-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --secondary: 210 40% 96.1%; /* hsl(210 40% 96%) */
    --secondary-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */

    --accent: 210 40% 96.1%; /* hsl(210 40% 96%) */
    --accent-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */

    --destructive: 0 100% 50%; /* hsl(0 100% 50%) */
    --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --ring: 215 20.2% 65.1%; /* hsl(215 20% 65%) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%; /* hsl(224 71% 4%) */
    --foreground: 213 31% 91%; /* hsl(213 31% 91%) */

    --muted: 223 47% 11%; /* hsl(223 47% 11%) */
    --muted-foreground: 215.4 16.3% 56.9%; /* hsl(215 16% 56%) */

    --popover: 224 71% 4%; /* hsl(224 71% 4%) */
    --popover-foreground: 215 20.2% 65.1%; /* hsl(215 20% 65%) */

    --card: 224 71% 4%; /* hsl(224 71% 4%) */
    --card-foreground: 213 31% 91%; /* hsl(213 31% 91%) */

    --border: 216 34% 17%; /* hsl(216 34% 17%) */
    --input: 216 34% 17%; /* hsl(216 34% 17%) */

    --primary: 210 40% 98%; /* hsl(210 40% 98%) */
    --primary-foreground: 222.2 47.4% 1.2%; /* hsl(222 47% 1%) */

    --secondary: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
    --secondary-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --accent: 216 34% 17%; /* hsl(216 34% 17%) */
    --accent-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --destructive: 0 63% 31%; /* hsl(0 63% 31%) */
    --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */

    --ring: 216 34% 17%; /* hsl(216 34% 17%) */

    --radius: 0.5rem;
  }
}

:root {
  --background: 0 0% 100%; /* hsl(0 0% 100%) */
  --foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --muted: 210 40% 98%; /* hsl(210 40% 98%) */
  --muted-foreground: 215.4 16.3% 46.9%; /* hsl(215 16% 46%) */
  --popover: 0 0% 100%; /* hsl(0 0% 100%) */
  --popover-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --card: 0 0% 100%; /* hsl(0 0% 100%) */
  --card-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --border: 214.3 21.8% 91.4%; /* hsl(214 32% 91%) */
  --input: 214.3 21.8% 91.4%; /* hsl(214 32% 91%) */
  --primary: 222.2 27% 11.2%; /* hsl(222 27% 18%) */
  --primary-foreground: 210 40% 98%; /* hsl(210 40% 98%) */
  --secondary: 210 40% 96.1%; /* hsl(210 40% 96%) */
  --secondary-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --accent: 210 30% 96.1%; /* hsl(210 30% 96%) */
  --accent-foreground: 222.2 47.4% 11.2%; /* hsl(222 47% 11%) */
  --destructive: 0 100% 50%; /* hsl(0 100% 50%) */
  --destructive-foreground: 210 40% 98%; /* hsl(210 40% 98%) */
  --ring: 215 20.2% 65.1%; /* hsl(215 20% 65%) */
  --radius: 0.5rem;
}

.dark {
  -background: 224 71% 4%;
  /* hsl(224 71% 4%) */
  -foreground: 213 31% 91%;
  /* hsl(213 31% 91%) */
  -muted: 223 47% 11%;
  /* hsl(223 47% 11%) */
  -muted-foreground: 215.4 16.3% 56.9%;
  /* hsl(215 16% 56%) */
  -popover: 224 71% 4%;
  /* hsl(224 71% 4%) */
  -popover-foreground: 215 20.2% 65.1%;
  /* hsl(215 20% 65%) */
  -card: 224 71% 4%;
  /* hsl(224 71% 4%) */
  -card-foreground: 213 31% 91%;
  /* hsl(213 31% 91%) */
  -border: 216 34% 17%;
  /* hsl(216 34% 17%) */
  -input: 216 34% 17%;
  /* hsl(216 34% 17%) */
  -primary: 210 40% 98%;
  /* hsl(210 40% 98%) */
  -primary-foreground: 222.2 47.4% 1.2%;
  /* hsl(222 47% 1%) */
  -secondary: 222.2 47.4% 11.2%;
  /* hsl(222 47% 11%) */
  -secondary-foreground: 210 40% 98%;
  /* hsl(210 40% 98%) */
  -accent: 216 34% 17%;
  /* hsl(216 34% 17%) */
  -accent-foreground: 210 40% 98%;
  /* hsl(210 40% 98%) */
  -destructive: 0 63% 31%;
  /* hsl(0 63% 31%) */
  -destructive-foreground: 210 40% 98%;
  /* hsl(210 40% 98%) */
  -ring: 216 34% 17%;
  /* hsl(216 34% 17%) */
  -radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* The style below sets the cursor property of the element with the class .react-flow__pane to the default cursor.
The cursor: default; property value restores the browser's default cursor style for the targeted element. By applying this style, the element will no longer have a custom cursor appearance such as "grab" or any other custom cursor defined elsewhere in the application. Instead, it will revert to the default cursor style determined by the browser, typically an arrow-shaped cursor. */
.react-flow__pane {
  cursor: default;
}
